body{
    font-family: Arial, sans-serif;
}
.main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5865f2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.item,.online {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
}
iframe {
    border: none;
    margin: 20px;
}